.TilesSection
{
  padding: 86px 20px;
}

.TilesSection__row
{
  display:         flex;
  justify-content: space-between;
  margin-top:      30px;
  flex-wrap:       wrap;

  &:first-of-type
  {
    margin-top: 0;
  }

}
