@import "../../styles/tools/tools.image";
@import "../../styles/tools/tools.tile";
@import "../../styles/tools/tools.typography";

@mixin TileSelected
{

  .Tile--selected &
  {
    @content;
  }

}

@mixin TilePastTrack
{

  .Tile--pastTrack &
  {
    @content;
  }

}

.Tile
{
  margin-bottom: 30px;
}

.Tile__main
{
  @include TileSize;
  position: relative;
}

.Tile__background
{
  @include backgroundImage;
  cursor:           pointer;
  width:            100%;
  height:           100%;
  background-color: #FFFFFF;
  border-radius:    2px;
  box-shadow:       0 3px 21px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.08);
  //opacity:          0.75;
  transition:       opacity 250ms ease, transform 500ms ease;

  @include TilePastTrack
  {
    opacity: 0.5;
  }

  @for $rowNumber from 0 through 10
  {

    @for $number from 0 through 40
    {

      .TilesSection__row:nth-of-type(#{$rowNumber}) .Tile:nth-of-type(#{$number}) &
      {
        background-image: url('http://thecatapi.com/api/images/get?format=src&type=jpg&med=500&#{$rowNumber}#{$number}');
      }

    }

  }

  .Tile:hover &
  {
    opacity: 1;
  }

  @include TileSelected
  {
    opacity:   1;
    //transform: scale(1.1);
    transform: translateY(-20px);
  }

}

.Tile__content
{
  cursor:     pointer;
  position:   absolute;
  top:        0;
  left:       0;
  right:      0;
  bottom:     0;
  transition: transform 500ms ease;

  @include TileSelected
  {
    transform: translateY(-15px);
  }

}

.Tile__info
{
  position: absolute;
  left:     -5px;
  bottom:   10px;
}

.Tile__title,
.Tile__subtitle
{

  span
  {
    background-color: #FFFFFF;
    box-shadow:       2px 2px 5px rgba(0, 0, 0, 0.05);
    display:          inline-block;
    padding:          4px 16px 4px 8px;
  }

}

.Tile__title
{
  line-height: 18px;
}

.Tile__subtitle
{
  font-size:   13px;
  line-height: 15px;
  margin-top:  2px;
}

.Tile__bottom
{
  margin-top: 5px;
}

.Tile__playingWhen
{
  @include tinyFont;
  color:      #C0C0C0;
  font-style: italic;
  transition: opacity 250ms ease, transform 500ms ease;
  padding:    0 5px;

  @include TileSelected
  {
    opacity:   0;
    transform: translateY(-25px);
  }

}
