@import "../../styles/tools/tools.inputs";

.ControlsSection
{
  background-color: #EAEAEA;
  height:           100%;
}

.ControlsSection__search
{
  padding: 20px 0;
}

.ControlsSection__search__inputWrapper
{
  position: relative;
  left:     -10px;
}

.ControlsSection__search__icon
{
  color:          #d0d0d0;
  position:       absolute;
  top:            10px;
  left:           10px;
  pointer-events: none;
  transition:     color 300ms ease;

  .ControlsSection__search__inputWrapper:hover &,
  .ControlsSection__search__input:focus + &
  {
    color: #505050;
  }

}

.ControlsSection__search__input
{
  @include plainInput;
  display:      block;
  padding-left: 35px;
  width:        100%;
}
