@import "../../styles/tools/tools.transitions";
@import "../../styles/tools/tools.typography";

.SearchDropdown
{
  background-color: #FFFFFF;
  box-shadow:       -5px 5px 30px rgba(0, 0, 0, 0.05), -1px 1px 2px rgba(0, 0, 0, 0.05);
  padding:          90px 20px;
  position:         relative;
  z-index:          100;
  overflow-y:       auto;
  max-height:       100%;

  @include searchDropdownTransitionEnter
  {
    transform: translateY(-100%);
  }

  @include searchDropdownTransitionEnterActive
  {
    transform:  translateY(0);
    transition: transform 250ms ease;
  }

  @include searchDropdownTransitionLeave
  {
    transform: translateY(0);
  }

  @include searchDropdownTransitionLeaveActive
  {
    transform:  translateY(-100%);
    transition: transform 250ms ease;
  }

}

.SearchDropdown__section
{
  margin-top: 30px;

  &:first-of-type
  {
    margin-top: 0;
  }

}

.SearchDropdown__section__title
{
  @include smallFont;
  color:       #C0C0C0;
  margin-left: 45px;
}

.SearchDropdown__section__results
{
  margin-top: 10px;
  min-height: 92px;
}

.SearchDropdown__section__results__emptyMessage
{
  @include smallFont;
  padding-left: 45px;
}