@mixin smallFont
{
  font-size:   13px;
  line-height: 15px;
}

@mixin mediumFont
{
  font-size:   20px;
  line-height: 24px;
}

@mixin truncate($width){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
}