@mixin TileSize
{
  height: calc(((100vw - 20px) / 7) - 20px);
  width:  calc(((100vw - 20px) / 7) - 20px);

  @media (max-width: 1400px)
  {
    height: calc(((100vw - 20px) / 5) - 20px);
    width:  calc(((100vw - 20px) / 5) - 20px);
  }

  @media (max-width: 1000px)
  {
    height: calc(((100vw - 20px) / 3) - 20px);
    width:  calc(((100vw - 20px) / 3) - 20px);
  }

}