@import "../../styles/tools/tools.image";
@import "../../styles/tools/tools.typography";

@mixin SearchResultPlaceholder
{

  .SearchResult--placeholder &
  {
    @content;
  }

}

@mixin SearchResultPlaceholderText
{
  @include SearchResultPlaceholder
  {
    &::after
    {
      content:          'Searching for some cool shiz';
      color:            transparent;
      background-color: #F0F0F0;
    }
  }
}

.SearchResult
{
  cursor:  pointer;
  display: flex;
  padding: 5px 0;
}

.SearchResult__image
{
  @include backgroundImage;
  background-color: #F0F0F0;
  width:            36px;
  height:           36px;
  margin-right:     10px;
  transition:       transform 300ms ease, box-shadow 300ms ease;

  .SearchResult:hover &
  {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    transform:  scale(1.1);
  }

}

.SearchResult__info
{
  @include smallFont;
  display:     flex;
  align-items: center;
  flex:        1;
}

.SearchResult__info__title
{
  @include SearchResultPlaceholderText;
  font-weight: 500;
}

.SearchResult__info__subtitle
{
  @include SearchResultPlaceholderText;
  margin-top: 4px;
}

