.HomeView
{
  position: fixed;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  display:  flex;
}

.HomeView__main
{
  flex:       1;
  height:     100%;
  overflow-y: auto;
}

.HomeView__aside
{
  width:  320px;
  height: 100%;
}