@import "../../styles/tools/tools.typography";

.Player
{
  position:         fixed;
  left:             0px;
  right:            0px;
  bottom:           0px;
  background-color: #ffffff;
  height:           80px;
  box-shadow:       0 -3px 10px rgba(0, 0, 0, 0.1);
}

.Player__progress
{
  height:           3px;
  background-color: #F0F0F0;
  position:         absolute;
  top:              0;
  left:             0;
  right:            0;
}

.Player__progress__bar
{
  height:           100%;
  width:            40%;
  background-color: #ff003b;
}

.Player__main
{
  display:         flex;
  align-items:     center;
  justify-content: center;
  height:          100%;
  padding:         0 20px;
}

.Player__controls
{
  display:         flex;
  align-items:     center;
  justify-content: center;
  flex:            1;
}

.Player__controls__nowPlaying
{
  @include smallFont;
  @include truncate(250px);
  text-align: right;
}

.Player__controls__nowPlaying__label
{
  display:      inline-block;
  margin-right: 5px;
  font-style:   italic;
  color:        #c0c0c0;
}

.Player__controls__main
{
  cursor:           pointer;
  width:            50px;
  height:           50px;
  border-radius:    50%;
  margin:           0 20px;
  background-color: #FFFFFF;
  box-shadow:       0 1px 5px rgba(0, 0, 0, 0.1);
  display:          flex;
  align-items:      center;
  justify-content:  center;
  position:         relative;
  overflow:         hidden;

  &::before
  {
    content:          '';
    position:         absolute;
    top:              50%;
    left:             50%;
    margin-left:      -5px;
    margin-top:       -5px;
    width:            10px;
    height:           10px;
    background-color: #F0F0F0;
    border-radius:    50%;
    transform:        scale(0);
    opacity:          0;
    transition:       opacity 250ms ease-out, transform 250ms ease-out;
  }

  &:active
  {

    &::before
    {
      opacity:   1;
      transform: scale(3);
    }

  }

  &.Player__controls__main--paused
  {

    &::before
    {
      background-color: #ff003b;
      opacity:          1;
      transform:        scale(10);
    }

  }

}

.Player__controls__main__pauseIcon
{
  position: relative;
}

.Player__controls__main__playIcon
{
  position:   relative;
  left:       2px;
  transition: transform 250ms ease;

  .Player__controls__main--paused &
  {
    color: #FFFFFF;
  }

  .Player__controls__main--paused:active &
  {
    transform: scale(1.2);
  }

}

.Player__controls__nextUp
{
  @include smallFont;
  @include truncate(250px);
}

.Player__controls__nextUp__label
{
  display:      inline-block;
  margin-right: 5px;
  font-style:   italic;
  color:        #c0c0c0;
}

.Player__startTime,
.Player__endTime
{
  @include smallFont;
}

.Player__startTime
{

}

.Player__endTime
{

}


